body {
  background-color: $color-body;
  .imagenWork {
    width: 600px;
    height: 500px;
  }
  .imgTouch {
    width: 600px;
    height: 800px;
  }
  .imgAbout {
    width: 600px;
    height: 800px;
  }
  .imgCareer {
    width: 300px;
    height: 400px;
  }
  hr {
    height: 0;
    border: 0;
    border-top: 2px solid black;
  }
}
