footer {
  background-color: rgb(0, 0, 0);

  /* .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;*/

  .socialMedia {
    width: 25px;
    height: 25px;
  }
}
