header {
  h2 {
    font-size: 55px;
  }
  ul {
    li {
      padding: 5px;
      margin: 30px;
      font-size: 35px;
      list-style: none;

      a {
        list-style: none;
        color: black;
        text-decoration: none;
      }
    }
  }
}
